
        img {
            position: absolute;
            width: 500px;
            height: 500px;
            object-fit: cover;
            mix-blend-mode: multiply;
        }
        div{
            margin: 100px auto;
            width: 500px;
        }
